iotca2nodered.txt
[
    {
        "id": "7cec593b.b102c8",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "d5b811fc.25eb2",
        "type": "rpi-gpio in",
        "z": "7cec593b.b102c8",
        "name": "PIR_SENSOR",
        "pin": "40",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "x": 375,
        "y": 243,
        "wires": [
            [
                "533cfe7d.c6c06"
            ]
        ]
    },
    {
        "id": "533cfe7d.c6c06",
        "type": "function",
        "z": "7cec593b.b102c8",
        "name": "Detect Motion",
        "func": "\nlight = parseInt(msg.payload1)\ncontext.peoplecount = context.peoplecount || 0 ;\nif (msg.payload ==1){\n    context.peoplecount +=1;\n    msg.payload1 = 1;\n}\nmsg.peoplecount = context.peoplecount;\n\nvar stream = msg.peoplecount\nvar obj_stream=JSON.parse(stream)\nmsg.payload1 = obj_stream;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 576,
        "y": 242,
        "wires": [
            [
                "b2815323.09d7b",
                "57657c18.d67d94",
                "ca80f2c3.48633",
                "6b893bc6.dde034",
                "19d9d96c.0699e7"
            ]
        ]
    },
    {
        "id": "b2815323.09d7b",
        "type": "debug",
        "z": "7cec593b.b102c8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload1",
        "x": 821,
        "y": 241,
        "wires": []
    },
    {
        "id": "57657c18.d67d94",
        "type": "rpi-gpio out",
        "z": "7cec593b.b102c8",
        "name": "",
        "pin": "16",
        "set": true,
        "level": "0",
        "out": "out",
        "x": 863,
        "y": 301,
        "wires": []
    },
    {
        "id": "361cc98.ababb36",
        "type": "ui_switch",
        "z": "7cec593b.b102c8",
        "name": "Off the Switch",
        "label": "Light Switch",
        "group": "6b944e1b.7e5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "sensors/light",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 868,
        "y": 440,
        "wires": [
            [
                "57657c18.d67d94"
            ]
        ]
    },
    {
        "id": "ca80f2c3.48633",
        "type": "mqtt out",
        "z": "7cec593b.b102c8",
        "name": "",
        "topic": "sensors/motion",
        "qos": "",
        "retain": "",
        "broker": "2e15337e.065e8c",
        "x": 771,
        "y": 77,
        "wires": []
    },
    {
        "id": "6b893bc6.dde034",
        "type": "ui_text",
        "z": "7cec593b.b102c8",
        "group": "6b944e1b.7e5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "motion sensor information",
        "label": "motion sensor information",
        "format": "{{msg.peoplecount}}",
        "layout": "row-spread",
        "x": 898,
        "y": 473,
        "wires": []
    },
    {
        "id": "19d9d96c.0699e7",
        "type": "camerapi-takephoto",
        "z": "7cec593b.b102c8",
        "filemode": "1",
        "filename": "photo1.JPEG",
        "filedefpath": "0",
        "filepath": "/home/pi/Pictures/",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "imageeffect": "none",
        "name": "",
        "x": 846,
        "y": 547,
        "wires": [
            [
                "45a73.4eaa258dc",
                "db77a316.bd8"
            ]
        ]
    },
    {
        "id": "45a73.4eaa258dc",
        "type": "debug",
        "z": "7cec593b.b102c8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1064,
        "y": 550,
        "wires": []
    },
    {
        "id": "db77a316.bd8",
        "type": "mqtt out",
        "z": "7cec593b.b102c8",
        "name": "",
        "topic": "sensors/motion",
        "qos": "",
        "retain": "",
        "broker": "2e15337e.065e8c",
        "x": 1074,
        "y": 604,
        "wires": []
    },
    {
        "id": "7fa229e1.fafdc8",
        "type": "visual-recognition-v3",
        "z": "7cec593b.b102c8",
        "name": "",
        "apikey": "__PWRD__",
        "image-feature": "classifyImage",
        "lang": "en",
        "x": 740,
        "y": 905,
        "wires": [
            [
                "f3069c98.7332f",
                "5365637f.de274c"
            ]
        ]
    },
    {
        "id": "968628bc.26e798",
        "type": "http in",
        "z": "7cec593b.b102c8",
        "name": "",
        "url": "/reco",
        "method": "get",
        "swaggerDoc": "",
        "x": 370,
        "y": 539,
        "wires": [
            [
                "c2fbdc96.7b91b"
            ]
        ]
    },
    {
        "id": "d6a61ed.9a434e",
        "type": "http response",
        "z": "7cec593b.b102c8",
        "name": "HTTP Response",
        "x": 1026,
        "y": 788,
        "wires": []
    },
    {
        "id": "c2fbdc96.7b91b",
        "type": "switch",
        "z": "7cec593b.b102c8",
        "name": "Check image param",
        "property": "payload.imageurl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 491,
        "y": 639,
        "wires": [
            [
                "fe0aab91.f9e588"
            ],
            [
                "a561df63.960b"
            ]
        ]
    },
    {
        "id": "fe0aab91.f9e588",
        "type": "template",
        "z": "7cec593b.b102c8",
        "name": "Get Image URL",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n</body>\n</html>",
        "x": 776,
        "y": 754,
        "wires": [
            [
                "d6a61ed.9a434e"
            ]
        ]
    },
    {
        "id": "f3069c98.7332f",
        "type": "template",
        "z": "7cec593b.b102c8",
        "name": "Report",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>",
        "x": 871,
        "y": 822,
        "wires": [
            [
                "d6a61ed.9a434e"
            ]
        ]
    },
    {
        "id": "a561df63.960b",
        "type": "change",
        "z": "7cec593b.b102c8",
        "name": "Extract img URL",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.imageurl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 568,
        "y": 843,
        "wires": [
            [
                "7fa229e1.fafdc8"
            ]
        ]
    },
    {
        "id": "37b0a6f0.61ed9a",
        "type": "comment",
        "z": "7cec593b.b102c8",
        "name": "!!Make sure you bind Visual Recognition Service to Node-RED App!!",
        "info": "When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n",
        "x": 747,
        "y": 940,
        "wires": []
    },
    {
        "id": "5365637f.de274c",
        "type": "function",
        "z": "7cec593b.b102c8",
        "name": "get labels",
        "func": "var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 938,
        "y": 898,
        "wires": [
            [
                "55d6676d.25e218"
            ]
        ]
    },
    {
        "id": "55d6676d.25e218",
        "type": "debug",
        "z": "7cec593b.b102c8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1098,
        "y": 872,
        "wires": []
    },
    {
        "id": "165368ca.e45687",
        "type": "ui_template",
        "z": "7cec593b.b102c8",
        "group": "6b944e1b.7e5ce",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Take a photo<br>\n</md-button>\n\n\n<div style=\"margin-bottom:40px;\">\n <img src=\"/photo1.JPEG\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 630,
        "y": 551,
        "wires": [
            [
                "19d9d96c.0699e7"
            ]
        ]
    },
    {
        "id": "6b944e1b.7e5ce",
        "type": "ui_group",
        "z": "",
        "name": "Default IOT CA2 Page",
        "tab": "7791672f.1c0798",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2e15337e.065e8c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7791672f.1c0798",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]